body{
    background-color:goldenrod;
    font-family:'Courier New', Courier, monospace;
}
.wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
.picturesOfChicago{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}