body{
    background-color:goldenrod;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
.picturesOfChicago{
    display: flex;
    justify-content: center;
}